.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main_color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-style: none;

    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }

    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}